<!-- views/posts-show.handlebars -->

<div class="row">
  <div class="col-sm-3 col-sm-offset-6">
    <br>
    <br>
    <a href="{{post.url}}" class="lead">{{post.title}}</a>
    <p>{{post.summary}}</p>
    <p>{{post.author.username}}</p>
  </div>
</div>

<br>
<br>

<form action="/posts/{{post._id}}/comments" method="post">
   <textarea class='form-control' name="content" placeholder="Comment"></textarea>
   <div class="text-right">
     <button type="submit" class="btn btn-primary">Save</button>
   </div>
 </form>


<br>
<br>


{{#each post.comments}}
<br>
  {{> comment comment=this postId=../post._id}}
{{/each}}
