<!-- posts-index -->
<br>
<div class="pull-left">
    <h1>Reddit Clone</h1>
</div>

<br>
<br>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <ul>
            {{#each posts}}
            <li class="list-group-item">
                <div class="lead"><a href="/posts/{{this._id}}">{{this.title}}</a></div>
                <a href="{{this.url}}" target="_blank">{{this.url}}</a>
                <div><small>Posted by: {{this.author.username}}</small></div>
                <div class="text-right">
                <a href="/n/{{this.subreddit}}">{{this.subreddit}}</a>
                </div>
                <br>
                <div class="button-container">
                <form class="vote-up" data-id="{{this._id}}">
                    <div>
                        <button type="submit">&#9650;</button>
                    </div>
                </form>
                Score: {{this.voteScore}}
                <form class="vote-down" data-id="{{this._id}}">
                    <div>
                        <button type="submit">&#9660;</button>
                    </div>
                </form>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
